.empty-container {
  min-height: 900px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
  position: relative;
  overflow: hidden;
}
.empty {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.section-empty {
  padding-top: 7rem;
}
