.teal-text.text-lighten-2 {
    color: 
    #df3a3a !important;
}
.teal.lighten-1 {
    background-color: 
    #e95542 !important;
}
.teal {
    background-color: 
    #b80808 !important;
}
html {
    line-height: 1.5;
    font-weight: 700;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    color: rgba(0,0,0,0.87);
}
.sidenav-trigger {
    color: 
    #e20b0bab;
}
#inSession {
    display: block;
}
.login{
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
  }
.concepto{
    font-size: medium;
}

.importe{
    font-size: medium;
}
  .profile{
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
  }

  h3{
      font-weight: bold;
  }

  #image_profile{
      transform: translate(0px, 50px);
  }

  #examina{
    transform: translate(70%, 10px);
  }

  .msg {
    width:100%;
    border: 1px solid;
    padding:10px;
    margin: 20px;
    color: grey;
  }
  .msg-error {
    border-color: #d32f2f;
    background-color: #ef5350;
    color: white;
  }
  .msg-alert {
     border-color: #ef6c00;
    background-color: #ff9800;
    color: white;
  }
  
  .msg-correct{
    border-color: #1ea706;
    background-color: #5db60a;
    color: white;
  }

  .transactions-table{
    margin-left: 15%;
    margin-top: 5%;
    width: 70%;
  }
