{% extends "base.twig" %}

{% block title %}My Dashboard{% endblock %}

{% block content %}
    <div class="dashboard">
		<h3>Welcome to dashboard!</h3>
	</div>	
    <div class="container dashboard"> 	
		<br></br>	
		<div class="row">
			<div class="col s12 center">
				<h4>Hello USER,</h4>
			</div>
			<div class="row">
				<div class="col s12 m6"><span class="flow-text"><p class= "">My Wallet</p></span></div>
				<div class="col s12 m6"><span class="flow-text"><p class="right-align">-500€</p></span></div>
			</div>
			<div class="divider"></div>
		</div>

		<div class="section row">
			<div class="col s12 center">
				<h5>TRANSACTIONS</h5>
			</div>
			<br></br>				
			<br></br>
			<table class="striped responsive-table">
				<tbody>
					<tr>
						<td class="light concepto">Hipoteca</td>
						<td class="right-align light importe">-800€</td>
					</tr>
					<tr>
						<td class="light concepto">Ingreso Cajero</td>
						<td class="right-align light importe">+200€</td>
					</tr>
					<tr>
						<td class="light concepto">Burger King</td>
						<td class="right-align light importe">-39,95€</td>
					</tr>
					<tr>
						<td class="light concepto">Ingreso Cajero</td>
						<td class="right-align light importe">+50€</td>
					</tr>
					<tr>
						<td class="light concepto">McDonald's</td>
						<td class="right-align light importe">-3,95€</td>
					</tr>
				</tbody>
			</table>
{% endblock %}