{% extends "base.twig" %}

{% block title %}
    Landing page
{% endblock %}

{% block content %}

	<div>
		<nav class="white" role="navigation">
			<div class="nav-wrapper container">
				<a id="logo-container" href="#" class="brand-logo">
				<img src="assets/backgrounds/logo.png" alt="logo"></a>
			
				<ul class="right hide-on-med-and-down">
					<li><a id="notInSession" href="login">Sign in</a></li>
					<li><a id="notInSession" href="signup">Register</a></li>
					<li><a id="inSession" href="#!">Profile</a></li>
					<li><a id="inSession" href="#!">Dashboard</a></li>
					<li><a id="inSession" href="#!">Transactions</a></li>
				</ul>
				<ul id="nav-mobile" class="sidenav">
					<li><a id="notInSession" href="login">Sign in</a></li>
					<li><a id="notInSession" href="signup">Register</a></li>
					<li><a id="inSession" href="#!">Profile</a></li>
					<li><a id="inSession" href="#!">Dashboard</a></li>
					<li><a id="inSession" href="#!">Transactions</a></li> 
				</ul>
				<a href="#" data-target="nav-mobile" class="sidenav-trigger">
					<i class="material-icons">menu</i>
				</a>
			</div>
		</nav>
	</div>

	<div id="index-banner" class="parallax-container"> <!--   La Salle photo   -->
		<div class="section no-pad-bot">
			<div class="container">
				<br><br>
				<h1 class="header center teal-text text-lighten-2">PwPay</h1>
				<div class="row center">
					<h5 class="header col s12 light">Payment solutions for students of La Salle campus</h5>
				</div>
				<div class="row center">
					<a href="#" id="getStarted-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
				</div>
				<br><br>

			</div>
		</div>
		<div class="parallax"><img src="assets/backgrounds/fondo1.jpg" alt="background img 1"></div>
	</div>

	<div class="container"> 						<!--   Why PwPay?   -->
		<div class="section">

			<div class="row">
				<div class="col s12 center">
					<h4>Why PwPay?</h4>
					<h5 class="center red-text text-darken-4">La Salle student? You need this app!</h5>
					<p class="left-align light">
					With PwPay you no longer have to wait for your fellow interns to have the cash 
					to pay for their share of the material. 
					Using PwPay you can pay those friends at the university who have so often invited you 
					to "bravas" or receive your share of the money you invested in project materials.Besides, 
					with PwPay, you can pay for your products with your credit card without showing your account numbers. 
					You can associate your credit card to your PwPay account, so you don't have to enter your card number 
					or address every time you buy. Just log in to PwPay and pay quickly with a few clicks. 
					</p>
				</div>
				<br></br>
				<br></br>
				<!--   Icon Section   -->
				<div class="col s12 m4"> 
					<div class="icon-block">
						<h2 class="center">
							<i class="material-icons">euro_symbol</i>
						</h2>
						<h5 class="center red-text text-darken-4">Free</h5>

						<p class="light center">Opening an account and paying with PwPay is free as 
						long as it does not involve a currency conversion.</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center">
							<i class="material-icons">thumb_up</i>
						</h2>
						<h5 class="center red-text text-darken-4">Easy</h5>

						<p class="light center">Get paid and pay with your campus email and password.</p>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<h2 class="center">
							<i class="material-icons">enhanced_encryption</i>
						</h2>
						<h5 class="center red-text text-darken-4">Greater protection</h5>

						<p class="light center">Get paid or pay easily and safely. We do not share your financial data with others.</p>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="parallax-container valign-wrapper"> <!--  Make a change photo  -->
		<div class="section no-pad-bot">
			<div class="container">
				<div class="row center">
					<h5 class="header col s12">Using PwPay students will have a virtual wallet</h5>
					<h6> You will be able to charge money coming from a bank account</h6>
				</div>
			</div>
		</div>
		<div class="parallax"><img src="assets/backgrounds/fondo7.jpg" alt="background img 2"></div>
	</div>

	<div class="container"> 						<!--   How PwPay works -->
		<div class="section">	
			<div class="row">
			<h4 class="center red-text text-darken-4">How PwPay works</h4>	
			<p class="center">You just have to take three easy steps to get started</p>
				<div class="col s12 m4">
					<div class="icon-block">
						<div class="card small"> <!--   Sign up   -->
        				<div class="card-image">
         					<img src="assets/backgrounds/background1.jpg">
        				</div>
       					<div class="card-content">
          					<p class="center light"> Register using your campus email and password.</p>
        				</div>
        				<div class="card-action">
          					<a class= "red-text text-darken-4" href="register">Register</a>
        				</div>
      				</div>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<div class="card small"> <!--   Sign in   -->
        				<div class="card-image">
         					<img src="assets/backgrounds/background2.jpg">
        				</div>
       					<div class="card-content">
          					<p class="center light">Once you have an account, just sign in and enjoy using PwPay.</p>
        				</div>
        				<div class="card-action">
          					<a class= "red-text text-darken-4" href="login">Login</a>
        				</div>
      				</div>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="icon-block">
						<div class="card small"> <!--   Payment   -->
        				<div class="card-image">
         					<img src="assets/backgrounds/background3.jpg">
        				</div>
       					<div class="card-content">
          					<p class="center light">To use PwPay you only need your campus credentials.</p>
        				</div>
        				<div class="card-action">
          					<a class= "red-text text-darken-4" href="#!">Dashboard</a>
        				</div>
      				</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="parallax-container valign-wrapper"> <!--  Create account photo   -->
		<div class="section no-pad-bot">
			<div class="container">
			<br><br>
				<div class="row center">
					<h5 class="header col s12">Create an account now and start paying safely.</h5>
				</div>
				<div class="row center">
					<a href="#" id="getStarted-button" class="btn-large waves-effect waves-light teal lighten-1">Create an account</a>
				</div>
			<br><br>
			</div>
		</div>
		<div class="parallax"><img src="assets/backgrounds/fondo4.jpg" alt="background img 3"></div>
	</div>

	<footer class="page-footer teal">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Company Bio</h5>
					<p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Settings</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Connect</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				Made by
				<a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
			</div>
		</div>
	</footer>


	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="js/materialize.js"></script>
	<script src="js/init.js"></script>

{% endblock %}
