{% extends "base.twig" %}
{% block title %}
	Login
{% endblock %}
{% block extracss %}
	<link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/login.css"/>
{% endblock %}
{% block content %}
	<div class="login-container">
		<div class="row">
			<div class="col">
				<div class="card small-margin">
					<h4>
						Sign in
					</h4>
					<form id="login-form" action="{{ url_for('login', {"id": id})}}" method="POST">
						<label>
							Email
							<input type="text" name="email">
						</label>
						{% if form_errors['email'] is not empty %}
							<p>
								{{ form_errors['email'] }}
							</p>
						{% endif %}
						<label>
							Password
							<input type="password" name="password">
						</label>
						{% if form_errors['password'] is not empty %}
							<p>
								{{ form_errors['password'] }}
							</p>
						{% endif %}
						<input class="btn waves-effect waves-light" type="submit" value="Login">
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}