{% extends "base.twig" %}
{% block title %} Login {% endblock %}
{% block content %}
    <form id="login-form"
          action="{{ url_for('login', {"id": id})}}"
          method="POST">
        <label>
            Username
            <input type="text" name="username">
        </label>
        <label>
            Password
            <input type="password" name="password">
        </label>
        <input type="submit" value="Login">
    </form>
{% endblock %}