{% extends "base.twig" %}
{% block title %} Page not found {% endblock %}
{% block content %}
    <div id="index-banner" class="empty-container">
		<div class="section-empty no-pad-bot">
			<div class="container">
				<br><br>
				<h1 class="header center teal-text text-lighten-2">Page Not Found</h1>
				<div class="row center">
					<h5 class="header col s12 light">Looks like you're looking for something that doesn't exist.</h5>
				</div>
				<div class="row center">
					<a href="/" class="btn-large waves-effect waves-light teal lighten-1">Go Back</a>
				</div>
				<br><br>

			</div>
		</div>
		<div class="empty"><img src="assets/backgrounds/empty.jpg" width="100%"></div>
	</div>
{% endblock %}