{% extends "base.twig" %}
{% block title %} Page not found {% endblock %}
{% block content %}
    <div class="page-not-found-container">
        <div class="section no-pad-bot">
            <div class="container"> 
                <h1 class="header center teal-text text-lighten-2"> Page Not Found </h1>
                <div class="row center">
                    <h5> Looks like you're looking for something that doesn't exist. </h5>
                </div>
                <div class="row center">
                    <a href="http://pwpay.grup16:8030/" class="btn-large waves-effect waves-light teal lighten-1"> Go Back </a>
                </div>
            </div>
            <div class="">
                <img src="assets/backgrounds/empty.jpg" width="100%">  
            </div>
        </div>
    </div>
{% endblock %}