{% extends "base.twig" %}
{% block title %}
	Security
{% endblock %}
{% block content %}
	<style>
		body {
			background-image: url('/assets/backgrounds/profile_sec_background.jpg');
			background-size: cover;
		}
        p.error-msg {
			color: black !important;
		}
	</style>
	<div id="index-banner" class="empty-container">
		<form enctype="multipart/form-data" action="{{ url_for('security_form') }}" method="POST">
			<div class="row profile">
				<div class="col s12 14 offset-14">
					<div class="card">
						<div class="card-action center">
							<h3 class="black-text">Security</h3>
							<p></p>
						</div>
						<div class="card-content">
							<div class="form-field">
								<input type="password" name="old_password" placeholder="Old password" />
							</div>
							<div class="form-field">
								<input type="password" name="new_password" placeholder="New password" />
							</div>
							<div class="form-field">
								<input type="password" name="repeat_password" placeholder="Repeat new password"/>
							</div>
							<br>
							<br>
							<div class="form-field center-align">
								<button type="submit" name="save_button" value="Save" class="btn-large waves-effect waves-light teal lighten-1">Save</button>
								<button type="submit" name="cancel_button" value="Cancel" class="btn-large waves-effect waves-light teal lighten-1">Cancel</button>
							</div><br>
							<br>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

{% endblock %}
			