{% extends "base.twig" %}
{% block title %}
	Security
{% endblock %}
{% block content %}
	<style>
		body {
			background-image: url('assets/backgrounds/profile_background2.jpg');
			background-size: cover;
		}
        p.error-msg {
			color: black !important;
		}
	</style>
	<div id="index-banner" class="empty-container">
		<form enctype="multipart/form-data" action="{{ url_for('security_form') }}" method="POST">
			<input type="password" name="old_password" placeholder="Old password" />
			<input type="password" name="new_password" placeholder="New password" />
			<input type="password" name="repeat_password" placeholder="Repeat new password"/>
    		<input type="submit" name="save_button" value="Save" />
            <input type="submit" name="cancel_button" value="Cancel" />
		</form>

	</div>
{% endblock %}
