{% extends "base.twig" %}
{% block title %} Register {% endblock %}
{% block content %}
    <form id="register-form"
          action="{{ url_for('register') }}"
          method="POST">
        <label>
            Username
            <input type="text" name="username">
        </label>
        <label>
            Password
            <input type="password" name="password">
        </label>
        <label>
            Birthday
            <input type="text" name="birthday">
        </label>
        <label>
            Phone
            <input type="text" name="phone">
        </label>
        <input type="submit" value="Register">
    </form>
{% endblock %}