{% extends "base.twig" %}
{% block title %} Sign up {% endblock %}
{% block content %}
    <form id="register-form"
          action="{{ url_for('register') }}"
          method="POST">
        <label>
            Username
            <input type="text" name="username">
        </label>
        <label>
            Password
            <input type="password" name="password">
        </label>
        <input type="submit" value="Login">
    </form>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script
            type="application/javascript"
            src="{{ full_url_for('home') }}assets/js/ajax.js"></script>
{% endblock %}