{% extends "base.twig" %}

{% block title %}My Dashboard
{% endblock %}

{% block content %}
	<div class="empty-container transactions">

		<div class="section row">
			<div class="col s12 center">
				<h5>TRANSACTIONS</h5>
			</div>
			<table class="striped transactions-table">
				<tbody>
					{% if transactions is not empty %}
						{% for transaction in transactions %}
							<tr>
								<td class="light concepto">{{transaction.description}}</td>
								<td class="right-align light importe">
									{% if transaction.action == 'send' %}
										-{{transaction.amount}}€
									{% else %}
										+{{transaction.amount}}€
									{% endif %}
								</td>
							</tr>

						{% endfor %}
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
